/**
 * Place your custom CSS styles here.
 **/

html[youbetter="true"] div#header {
  background: none;
  border-bottom: none !important;
}


html[youbetter="true"] div#header > div:nth-child(1) {
  opacity: 0;
}

html[youbetter="true"] div#header > div:nth-child(1) > a {
  opacity: 0.4;
}

html[youbetter="true"] div#header > div:nth-child(2) > div > div {
  box-shadow: none;
}

html[youbetter="true"] div#header > div:nth-child(2) > div:nth-child(2) > div > div > div {
  background-color: none;
  border: none;
}


/*
 #section > main > div > div > div.sc-33778d62-2.dWbsZb
 
 HTML attribute is data-testid="app-mainline"
 
 [data-testid="app-mainline"]
*/
html[youbetter="true"] div[data-testid="app-mainline"]:nth-child(odd) {

}

/*
Web Search Results are laid out in this structure

	<div data-testid="app-mainline">
		<div data-eventappname="web_results_vertical">
			<ul></ul>
			<ul></ul>
			<ul></ul>
		</div>
		<div data-eventappname="web_results_vertical">
			<ul></ul>
			<ul></ul>
		</div>
		<div data-eventappname="web_results_vertical">
			<ul></ul>
			<ul></ul>
			<ul></ul>
		</div>
	</div>

 data-eventappname="web_results_vertical_0"
 [data-eventappname*="web_results_vertical_"]

tried:
	div[data-eventappname*="web_results_vertical_"] ul:nth-child(even) {}

	div[data-testid="app-mainline"] div[data-eventappname*="web_results_vertical_"]:nth-child(odd) ul[data-testid="web-results"] {}

	div[data-testid="app-mainline"] ul[data-testid="web-results"]:nth-child(even) {}
	
I'd like to select every other UL element that is a descendant of app-mainline, 
however, seemingly because of the random nesting quanities, this does not effectively work.
*/
html[youbetter="true"] div[data-testid="app-mainline"] ul:nth-child(odd) {
	background-color: rgb(245, 245, 247) !important;
}

/* 
	removes default hover background color "selection" effect
	from each search result listing item, favoring the every-other 
	background color difference. Google does not have an item 
	hover highlighter either 
*/
html[youbetter="true"] div[data-testid="app-mainline"] ul li:hover {
	background-color: transparent !important;
}

/* bolds website URL on each search result item... this needs to be worked on more */
html[youbetter="true"] .iduPRr {
	font-weight: bold !important;
}


/* SHOW THESE ON HOVER ONLY TO REDUCE CLUTTER */
/* left nav bar ... .jZyoHZ */
html[youbetter="true"] #section > div:first-child {
	opacity: 0 !important;
}
html[youbetter="true"] #section > div:first-child:hover {
	opacity: 1 !important;
}

/* the bottom "add more apps" section" */
html[youbetter="true"] #shortcuts-app {
	opacity: 0 !important;
}
html[youbetter="true"] #shortcuts-app:hover {
	opacity: 1 !important;
}

/* remove chat bubble style on YouChat 

currently only works on already generated chat... needs to be added to actively being written content

GOAL is to take attention away from YouChat content being written and instead on main search results.
*/
html[youbetter="true"] #chatHistory div {
	background-color: transparent !important;
}