/**
 * Place your custom CSS styles here.
 **/

div#header {
  background: none;
  border-bottom: none !important;
}


div#header > div:nth-child(1) {
  opacity: 0;
}

div#header > div:nth-child(1) > a {
  opacity: 0.4;
}

div#header > div:nth-child(2) > div > div {
  box-shadow: none;
}

div#header > div:nth-child(2) > div:nth-child(2) > div > div > div {
  background-color: none;
  border: none;
}
